@font-face {
  font-family: 'Futura Book';
  src: url("../fonts/FuturaBookC.woff") format("woff"), url("../fonts/FuturaBookC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Futura Demi';
  src: url("../fonts/FuturaDemiC.woff") format("woff"), url("../fonts/FuturaDemiC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@-webkit-keyframes logoRight {
  0% {
    margin-left: -300px; }
  100% {
    margin-left: 0px; } }

@keyframes logoRight {
  0% {
    margin-left: -300px; }
  100% {
    margin-left: 0px; } }

@-webkit-keyframes navRight {
  0% {
    margin-right: -300px; }
  100% {
    margin-left: 0px; } }

@keyframes navRight {
  0% {
    margin-right: -300px; }
  100% {
    margin-left: 0px; } }

@-webkit-keyframes heroRight {
  0% {
    margin-left: 800px;
    opacity: 0; }
  100% {
    margin-left: 0px;
    opacity: 1; } }

@keyframes heroRight {
  0% {
    margin-left: 800px;
    opacity: 0; }
  100% {
    margin-left: 0px;
    opacity: 1; } }

@-webkit-keyframes scrollBounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes scrollBounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem; }
  .button--primary {
    border: 1px solid #E3B873;
    background-color: #E3B873;
    color: #fff;
    -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    margin-right: 16px; }
    .button--primary:hover {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .button--outline {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 17px 42px !important; }

.label {
  font-size: 1.07rem; }
  .label--light {
    color: rgba(255, 255, 255, 0.5); }

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  font-size: 1.285rem;
  color: #fff;
  padding: 0.5rem 0; }
  .input--light {
    color: #fff;
    font-size: 1.3rem; }
  .input.invalid {
    border-bottom: 1px solid tomato; }

.policy__checkbox {
  opacity: 0;
  visibility: hidden; }
  .policy__checkbox:checked + .policy__label::before {
    background: #E3B873 url("../img/check.svg") no-repeat center/0.8rem; }

.policy__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.142rem;
  line-height: 1.2rem; }
  .policy__label::before {
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid #E3B873;
    border-radius: 1px;
    cursor: pointer;
    margin-right: 0.64rem; }
  .policy__label--center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.upbutton {
  display: none;
  position: fixed;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem 1rem;
  bottom: 30px;
  right: 1%;
  cursor: pointer;
  z-index: 999; }
  .upbutton__title {
    float: left;
    line-height: 2rem;
    margin: 0; }
    .upbutton__title::before {
      content: '';
      float: left;
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
      background: url("../img/up.svg") no-repeat center; }

.invalid {
  margin-top: 0.4rem;
  color: tomato; }

.container {
  width: 85%;
  max-width: 1256px;
  margin: auto; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.col-30 {
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%; }

.col-26 {
  -webkit-flex-basis: 26%;
      -ms-flex-preferred-size: 26%;
          flex-basis: 26%; }

.col-left {
  width: 45%; }

.col-right {
  width: 55%; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  font-family: 'Futura Book', sans-serif;
  font-size: 14px; }

img {
  max-width: 100%; }

.section {
  padding: 60px 0; }
  .section--dark {
    background-color: #131313;
    color: #fff; }
  .section-title {
    text-align: center;
    margin-bottom: 2.2rem;
    text-align: left; }
    .section-title--light {
      color: #fff; }
    .section-title__heading {
      text-align: center;
      margin: 0;
      margin-bottom: 1rem;
      font-size: 1.9rem;
      line-height: 2.6rem;
      font-weight: normal;
      text-transform: uppercase;
      font-family: 'Yeseva One', cursive; }
      .section-title__heading--primary {
        text-align: left;
        margin-bottom: 1.6rem;
        color: #E3B873; }
    .section-title__word {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .section-title__word::after {
        content: '';
        margin-left: 2rem;
        width: 93px;
        height: 1px;
        background-color: #E3B873; }
    .section-title__img {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .section-title__img::before, .section-title__img::after {
        content: '';
        margin: 0 10px;
        width: 32px;
        height: 2px;
        background-color: #E3B873;
        border-radius: 1px; }
    .section-title__text {
      margin: 0;
      max-width: 31.57rem;
      font-size: 1.28rem;
      line-height: 2.07rem;
      font-family: 'Futura Book', sans-serif;
      text-transform: none; }
      .section-title__text-slide {
        padding-right: 2rem; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #131313;
  padding: 24px 0; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  font-size: 1.06rem;
  color: #E3B873;
  text-transform: uppercase;
  -webkit-animation: logoRight;
          animation: logoRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease; }

.nav {
  -webkit-animation: navRight;
          animation: navRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }
  .nav__item {
    font-size: 1.06rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 2.1rem;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    .nav__item:nth-child(6) {
      margin: 0; }
    .nav__item:hover {
      color: #E3B873; }

.phone {
  color: #E3B873; }

.contacts__phone {
  font-size: 1.06rem;
  margin-right: 2rem; }

.contacts__button {
  margin: 0; }

.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 82px;
  height: 100vh;
  color: #fff; }
  .hero::after {
    content: '';
    width: 100%;
    height: 3.46rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #131313; }
  .hero__instagram {
    max-width: 80px;
    height: 100%; }
  .hero__scroll-down {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    bottom: 0;
    z-index: 9;
    min-width: 17.6rem;
    min-height: 6.92rem;
    background-color: #131313;
    font-family: "Yeseva One", cursive;
    font-size: 0.85rem;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    -webkit-animation-name: scrollBounce;
            animation-name: scrollBounce;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
    .hero__scroll-down::after {
      content: '';
      margin-left: 14px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #E3B873;
      background: url(../img/arrow-down.svg) no-repeat center; }
  .hero__content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #131313 url(../img/hero-bg.jpg) no-repeat center/cover;
    width: 100%;
    padding-left: 4.28rem; }
    .hero__content::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(19, 19, 19, 0.7); }
  .hero__title {
    max-width: 500px;
    position: relative;
    margin: 0;
    margin-bottom: 1.2rem;
    -webkit-animation: heroRight;
            animation: heroRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease; }
  .hero__text {
    position: relative;
    font-size: 1.57rem;
    line-height: 140%;
    max-width: 500px;
    margin: 0;
    margin-bottom: 3rem;
    -webkit-animation: heroRight;
            animation: heroRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease; }
  .hero__buttons {
    -webkit-animation: heroRight;
            animation: heroRight;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease; }
  .hero__button {
    position: relative;
    padding: 17px 22px; }

.instagram {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131313; }
  .instagram__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 0.8;
    font-size: 1.1rem;
    color: #E3B873;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
    .instagram__link::after {
      content: '';
      margin-left: 8px;
      width: 50px;
      height: 1px;
      background-color: #E3B873; }

.title {
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-size: 2.857rem;
  line-height: 1.3; }
  .title--primary {
    color: #E3B873; }

.control__section-title {
  margin-top: -30rem; }

.control__video {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 62px;
  max-width: 58.357rem;
  min-height: 31rem;
  background: url(../img/video-mask.jpg);
  -webkit-box-shadow: 0px 20px 50px rgba(19, 19, 19, 0.15);
          box-shadow: 0px 20px 50px rgba(19, 19, 19, 0.15); }
  .control__video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.8); }

.control__text {
  margin: 0 auto;
  max-width: 40.785rem;
  text-align: center;
  margin-bottom: 4.285rem;
  font-size: 1.428rem;
  line-height: 2.4rem; }
  .control__text::before {
    content: '';
    display: block;
    margin: auto;
    width: 3.92rem;
    height: 2px;
    margin-bottom: 28px;
    border-radius: 30px;
    background-color: #E3B873; }

.control__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 55rem;
  margin: auto; }

.control__input-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%; }

.control__label {
  margin-bottom: -3px; }

.control__input {
  color: #131313; }

.control__policy {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-top: 0.7rem; }

.control__policy-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.control__button {
  margin: 0;
  max-height: 51px;
  padding: 1.2657rem 4.585rem; }

.video__play {
  position: relative;
  margin: auto;
  -webkit-animation: scrollBounce;
          animation: scrollBounce;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.types {
  padding: 100px 0; }
  .types__section-title {
    margin-bottom: 2rem; }
  .types__cards {
    padding-bottom: 50px; }

.card__text {
  position: relative;
  margin: 0 auto;
  margin-top: -9.3rem;
  padding: 1.79rem 2.14rem;
  max-width: 23.6rem;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03); }

.card__title {
  margin-top: 0;
  margin-bottom: 0.7rem;
  font-family: 'Yeseva One', cursive;
  font-size: 1.29rem; }

.card__list {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  color: #959595;
  font-size: 1.07rem;
  line-height: 1.8rem;
  margin-bottom: 2.5rem; }

.card__pricetag {
  position: absolute;
  left: 0;
  bottom: -1.79rem;
  padding: 1.214rem 2.6rem;
  font-size: 1.29rem;
  font-family: 'Yeseva One', cursive;
  color: #fff;
  text-transform: uppercase;
  background-color: #E3B873; }

.card__price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.785rem 1.5rem 0.785rem 1.214rem; }
  .card__price:nth-child(1) {
    border-right: 1px solid #fff; }

.card__img {
  width: 100%;
  margin-right: 1.7rem; }

.card__quality {
  font-style: normal;
  font-weight: normal;
  font-size: 1.214rem;
  line-height: 1.714rem; }

.price__img {
  margin-right: 1rem; }

.price--time {
  text-transform: none; }

.design {
  padding: 40px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, #fff), color-stop(48%, #131313));
  background: -o-linear-gradient(top, #fff 52%, #131313 48%);
  background: linear-gradient(to bottom, #fff 52%, #131313 48%);
  position: relative; }
  .design__section-title {
    margin-bottom: 3.3rem; }
  .design__text {
    max-width: 740px;
    margin: 1.2rem auto;
    text-align: center;
    font-size: 1.42rem;
    line-height: 1.92rem; }
  .design__pricetag {
    padding: 1.214rem 5.4rem 1.214rem 2.357rem; }

.projects {
  padding-bottom: 30rem; }

.swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 5.3rem; }
  .swiper-slide__text {
    -webkit-flex-basis: 31%;
        -ms-flex-preferred-size: 31%;
            flex-basis: 31%;
    margin-right: 1.5rem;
    padding-bottom: 1.8rem; }
  .swiper-slide__heading {
    margin-bottom: 0.4rem;
    font-size: 1.285rem;
    line-height: 1.78rem;
    font-family: 'Yeseva One', cursive;
    text-transform: uppercase;
    color: #E3B873; }
  .swiper-slide__value {
    display: block;
    font-size: 1rem;
    line-height: 1.4rem; }

.swiper-pagination {
  bottom: 0; }
  .swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.3); }
    .swiper-pagination-bullet-active {
      background-color: #fff; }

.swiper-button-prev, .swiper-button-next {
  bottom: 0;
  top: auto;
  background-size: 100%;
  width: 42px;
  height: 14px; }
  .swiper-button-prev::after, .swiper-button-next::after {
    display: none; }

.swiper-button-prev {
  left: 0;
  background: url("../img/arrow-prev.svg") no-repeat center; }

.swiper-button-next {
  background: url("../img/arrow-next.svg") no-repeat center; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  width: auto;
  bottom: 0; }

.swiper-pagination-bullet {
  margin: 0 10px !important; }

.team {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #131313), color-stop(48%, #fff));
  background: -o-linear-gradient(top, #131313 50%, #fff 48%);
  background: linear-gradient(to bottom, #131313 50%, #fff 48%); }
  .team-title {
    margin-bottom: 6rem;
    color: #fff; }
    .team-title__img {
      margin-bottom: 1.3rem; }
    .team-title__text {
      margin: 0 auto;
      max-width: 32rem;
      text-align: center;
      font-weight: normal;
      font-size: 1.428rem;
      line-height: 1.92rem; }
  .team__heading {
    font-style: normal;
    font-size: 1.428rem;
    line-height: 2rem;
    margin-bottom: 1rem; }
  .team__cards {
    max-width: 1028px;
    margin: 0 auto;
    margin-bottom: 3.6rem; }
  .team__card {
    position: relative; }
  .team__icon {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -35px;
    left: -35px;
    background: #E3B873 url(../img/idea-1.svg) no-repeat center; }
    .team__icon-two {
      background: #E3B873 url(../img/idea-2.svg) no-repeat center; }
    .team__icon-three {
      background: #E3B873 url(../img/idea-3.svg) no-repeat center; }
  .team__text {
    max-width: 16.624rem;
    padding: 18px 21px 64px 21px;
    margin-top: -6.1rem;
    text-align: center; }
  .team__subtitle {
    margin: 0;
    padding: 0;
    color: #959595;
    font-weight: normal;
    font-size: 1.285rem;
    line-height: 1.928rem; }
  .team__pricetag {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1rem;
    bottom: 0; }
  .team__title {
    font-size: 1.285rem;
    line-height: 1.785rem;
    margin-bottom: 0.4rem; }

.clients {
  padding-bottom: 30rem; }
  .clients-title {
    margin-bottom: 3.2rem; }
    .clients-title__img {
      margin-bottom: 1.3rem; }
    .clients-title__heading {
      font-style: normal;
      font-weight: normal;
      font-size: 1.428rem;
      line-height: 2rem; }
  .clients__cards {
    margin: 0 auto;
    max-width: 88.285rem; }
  .clients__card {
    position: relative;
    padding: 1.714rem 2.285rem 5rem 1.428rem;
    -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04); }
  .clients__text {
    margin: 0 auto;
    max-width: 25.714rem;
    font-style: normal;
    font-size: 1.428rem;
    line-height: 2rem;
    text-align: center; }
  .clients__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem; }
  .clients__title {
    margin: 0;
    max-width: 14.284rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.285rem;
    line-height: 1.642rem; }
  .clients__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1.07rem;
    line-height: 180%;
    color: #959595; }
  .clients__pricetag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 22.1rem;
    max-width: 100%;
    bottom: -2rem;
    padding: 0;
    -webkit-box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
            box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5); }

.praise {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden; }
  .praise--visible {
    opacity: 1;
    visibility: visible; }
  .praise__dialog {
    position: relative;
    max-width: 36.36rem;
    padding: 4rem 3.5rem 4rem;
    color: #fff;
    background: #131313 url("../img/bg-lines.svg") no-repeat center; }
  .praise__close {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 28px;
    height: 28px;
    background: transparent url("../img/close.svg") no-repeat center;
    border: none;
    cursor: pointer; }
  .praise__title {
    font-family: 'Yeseva One', cursive;
    font-size: 1.557rem;
    text-align: center;
    margin: 0;
    margin-bottom: 2.428rem;
    color: #E3B873; }
  .praise__subtitle {
    display: inline-block;
    font-family: 'Yeseva One', cursive;
    font-size: 1.23rem;
    text-align: center; }

.footer {
  background: #131313 url(../img/footer-bg.jpg) no-repeat center/cover;
  padding-bottom: 0;
  padding-top: 3rem; }
  .footer__menu {
    background-color: #131313;
    padding: 2.5rem 0; }
  .footer__wrap {
    width: 63.07rem;
    max-width: 100%;
    margin: auto;
    margin-top: -20rem;
    margin-bottom: 3.714rem;
    padding: 2.5rem;
    background: #181818 url(../img/footer-form-bg.png) no-repeat center; }
  .footer__title {
    text-transform: uppercase;
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    font-size: 1.428rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3.314rem; }
  .footer__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 37.142rem;
    margin: auto; }
  .footer__input {
    padding: 0.3rem 0; }
    .footer__input::-webkit-input-placeholder {
      color: #fff; }
    .footer__input::-moz-placeholder {
      color: #fff; }
    .footer__input:-ms-input-placeholder {
      color: #fff; }
    .footer__input::-ms-input-placeholder {
      color: #fff; }
    .footer__input::placeholder {
      color: #fff; }
    .footer__input-group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-basis: 45%;
          -ms-flex-preferred-size: 45%;
              flex-basis: 45%;
      margin-bottom: 3.5rem; }
      .footer__input-group--full-width {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        margin-bottom: 2rem; }
  .footer__columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
            flex-flow: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__policy {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 3.6rem; }
  .footer__button {
    margin: auto;
    font-size: 1.1rem;
    padding: 1.1rem 4.2rem; }
  .footer__info {
    margin-bottom: 2rem; }
  .footer--primary {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 1.8rem;
    text-align: center;
    font-weight: normal;
    font-size: 1.428rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873; }
  .footer__icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 70px;
    margin: 0 auto; }
  .footer__map {
    width: 925px;
    max-width: 100%;
    min-height: 465px;
    margin: 0 auto;
    margin-bottom: 50px; }

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 199;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .modal--visible {
    opacity: 1;
    visibility: visible; }
  .modal__dialog {
    position: relative;
    max-width: 36.36rem;
    padding: 2.36rem 3.5rem 1.92rem;
    color: #fff;
    background: #131313 url("../img/bg-lines.svg") no-repeat center; }
  .modal__close {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 28px;
    height: 28px;
    background: transparent url("../img/close.svg") no-repeat center;
    border: none;
    cursor: pointer; }
  .modal__title {
    font-family: 'Yeseva One', cursive;
    font-size: 1.357rem;
    text-align: center;
    margin: 0;
    margin-bottom: 2.428rem; }
  .modal__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .modal__input::-webkit-input-placeholder {
    color: #fff; }
  .modal__input::-moz-placeholder {
    color: #fff; }
  .modal__input:-ms-input-placeholder {
    color: #fff; }
  .modal__input::-ms-input-placeholder {
    color: #fff; }
  .modal__input::placeholder {
    color: #fff; }
  .modal__input-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3.428rem; }
    .modal__input-group:nth-child(3) {
      margin-bottom: 1rem; }
  .modal__policy {
    margin-bottom: 2.7rem; }
  .modal__button {
    margin: 0;
    border-radius: 0;
    padding: 19px 45px;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }

@media screen and (max-width: 1200px) {
  html {
    font-size: 12px; }
  .nav__item {
    margin-right: 1rem; }
  .contacts__phone {
    margin-right: 30px; }
  .price__img {
    height: 70%; }
  .card__quality {
    font-size: 1.14rem; } }

@media screen and (max-width: 992px) {
  .clients {
    display: none; }
  .nav {
    display: none; }
  .hero__instagram {
    display: none; }
  .hero__content {
    margin-left: 0; }
  .team__title {
    font-size: 1rem; }
  .team__subtitle {
    font-size: 1.1rem; } }

@media screen and (max-width: 760px) {
  .design {
    background: #131313; }
    .design__section-title {
      color: #fff; }
    .design__text {
      margin: 1.5rem auto;
      font-size: 1.1rem;
      line-height: 1.7rem; }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .col-left {
    width: 100%;
    margin-bottom: 2rem; }
  .col-right {
    width: 100%; }
  .types__card {
    margin-bottom: 5rem; }
  .team__card {
    margin-bottom: 5rem; }
  .card--left {
    margin-left: 0; }
  .section-title--left {
    text-align: center; }
  .section-title__text {
    text-align: left; }
  .section-title__word {
    display: block; }
    .section-title__word::after {
      display: none; }
  .footer__info {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .footer__menu {
    display: none; } }

@media screen and (max-width: 570px) {
  .contacts__phone {
    margin-right: 0;
    color: #fff;
    text-decoration: none; }
  .contacts__button {
    display: none; }
  .title {
    max-width: 20rem;
    font-size: 1.64rem; }
  .hero {
    padding-top: 64px; }
    .hero__scroll-down {
      display: none; }
    .hero__content {
      padding: 0; }
    .hero__text {
      max-width: 28.57rem;
      font-size: 1.29rem; }
    .hero__button {
      max-width: 100%;
      display: block;
      width: 40rem;
      margin-bottom: 1.85rem; }
  .swiper-slide__text {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%; }
  .team {
    padding-bottom: 0;
    background: #131313; }
    .team__cards {
      margin-bottom: 0; }
    .team__card {
      margin-left: 10%; }
    .team__bottom-text {
      display: none; }
  .control__text, .footer__text {
    color: #fff; }
  .control__input-group, .footer__input-group {
    color: #fff;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 5rem; }
  .control__input, .footer__input {
    border-bottom: 1px solid #fff;
    color: #fff; }
  .control__button, .footer__button {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .footer {
    background: #131313; }
    .footer__wrap {
      background: #131313;
      margin-top: 0;
      padding: 0; }
    .footer__input-group:nth-child(3) {
      margin-bottom: 0rem; }
  .control {
    padding-bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(97%, #131313), color-stop(3%, #fff));
    background: -o-linear-gradient(top, #131313 97%, #fff 3%);
    background: linear-gradient(to bottom, #131313 97%, #fff 3%); }
    .control__input-group:nth-child(2) {
      margin-bottom: 0rem; }
  .policy {
    margin-bottom: 5rem; }
    .policy__label {
      color: #fff;
      -webkit-box-pack: start;
      -webkit-justify-content: start;
          -ms-flex-pack: start;
              justify-content: start; } }

@media screen and (max-height: 600px) {
  .hero__scroll-down {
    display: none; } }
