@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .contacts
    &__phone
      margin-right: 30px
  .price
    &__img
      height: 70%
  .card
    &__quality
      font-size: 1.14rem
@media screen and ( max-width: 992px)
  .team
    padding-bottom: 20rem
  .clients
    display: none
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .team
    &__title
      font-size: 1rem
    &__subtitle
      font-size: 1.1rem
@media screen and ( max-width: 760px  )
  .design
    background: $dark
    &__section-title
      color: $light
    &__text
      text-align: center !important
      margin: 1.5rem auto
  .row
    flex-direction: column
    align-items: center
  .col-left 
    width: 100%
    margin-bottom: 2rem
  .col-right
    width: 100%
  .types
    &__card
      margin-bottom: 5rem
  .team
    &-title
      &__text
        text-align: center !important
    &__card
      margin-bottom: 5rem
  .card
    &--left
      margin-left: 0
  .section-title
    &--left
      text-align: center
    &__text
      text-align: left
    &__word
      display: block
      &::after
        display: none
  .footer
    &__info
      order: 1
    &__menu
      display: none
  .control__text
    font-weight: normal
@media screen and ( max-width: 570px  )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    max-width: 20rem
    font-size: 1.64rem
  .hero
    padding-top: 64px
    &__scroll-down
      display: none
    &__content
      padding: 0
    &__text
      max-width: 28.57rem
      font-size: 1.29rem
    &__button
      max-width: 100%
      display: block
      width: 40rem
      margin-bottom: 1.85rem
  .swiper-slide
    &__text
      flex-basis: 40%
  .team
    padding-bottom: 0
    background: $dark
    &__cards
      margin-bottom: 0
    &__card
      margin-left: 10%
    &__bottom-text
      display: none
  .control,.footer
    &__text
      color: $light
    &__input
      &-group
        color: $light
        flex-basis: 100%
        margin-bottom: 5rem
    &__input
      border-bottom: 1px solid $light
      color: $light
    &__button
      flex-basis: 100%
      order: 1
  .footer
    background: $dark
    &__map
      min-height: 255px
    &__wrap
      background: $dark
      margin-top: 0
      padding: 0
    &__input
      &-group
        &:nth-child(3)
          margin-bottom: 0rem
  .control
    padding-bottom: 0   
    background: linear-gradient(to bottom, #131313 97%, #fff 3%)    
    &__input
      &-group
        &:nth-child(2)
          margin-bottom: 0rem
  .policy
    margin-bottom: 5rem
    &__label
      color: $light
      justify-content: start
@media screen and ( max-height: 600px  )
  .hero
    &__scroll-down
      display: none
  