*, *:before, *:after
  box-sizing: border-box


html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 14px
img
  max-width: 100%

.section
  &-title
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    &__img
      display: flex
      align-items: center
      justify-content: center
      &::before, &::after
        content: ''
        margin: 0 10px
        width: 32px
        height: 2px
        background-color: $primary
        border-radius: 1px
    &__text
      margin: 0 auto
      text-align: center
      font-size: 1.42rem
      line-height: 1.92rem
      font-family: 'Futura Book', sans-serif
      text-transform: none
        
