.design
  padding-top: 40px
  padding-bottom: 20rem
  background: linear-gradient(to top, $dark 60%, $light 50%)
  position: relative
  &__heading
    font-style: normal
    font-weight: normal
    font-size: 1.428rem
    line-height: 2rem
  &__section-title
    margin-bottom: 3.3rem
  &__text
    max-width: 740px
    margin: 1.2rem auto
    text-align: center
    font-size: 1.42rem
    line-height: 1.92rem
  &__cards
    margin: 0 auto
    max-width: 88.285rem
  &__pricetag
    padding: 1.214rem 5.4rem 1.214rem 2.357rem
    

    