.footer
  background: $dark url(../img/footer-bg.jpg) no-repeat center/cover
  padding-bottom: 0
  padding-top: 3rem
  &__menu
    background-color: $dark
    padding: 2.5rem 0
  &__wrap
    max-width: 63.07rem
    margin: auto
    margin-bottom: 3.714rem
    padding: 2.5rem
    background: $black url(../img/footer-form-bg.png) no-repeat center
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 1.428rem
    text-align: center
    margin-top: 0
    margin-bottom: 3.314rem
  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 37.142rem
    margin: auto
  &__input
    padding: 0.3rem 0
    &::placeholder
      color: $light
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.5rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3.6rem
  &__button
    margin: auto
    font-size: 1.1rem
    padding: 1.1rem 4.2rem