.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 100
  background-color: $dark
  padding: 24px 0
.menu
  display: flex
  justify-content: space-between
  align-items: center
.logo
  font-size: 1.06rem
  color: $primary
  text-transform: uppercase
  animation: logoRight
  animation-duration: 1s
  animation-timing-function: ease
.nav
  animation: navRight
  animation-duration: 1s
  &__item
    font-size: 1.06rem
    color: $light
    text-decoration: none
    text-transform: uppercase
    margin-right: 2.1rem
    transition: color 0.2s
    &:nth-child(6)
      margin: 0 
    &:hover
      color: $primary
.phone
  color: $primary
.contacts
  &__phone
    font-size: 1.06rem
    margin-right: 2rem
  &__button
    margin: 0
