.team
  &__section-title
    margin: 0 auto
    max-width: 1028px
  &__card
    position: relative
    &::after
      content: ''
      width: 70px
      height: 70px
      position: absolute
      top: -35px
      left: -35px
      background: $primary url(../img/idea-1.svg) no-repeat center
  &__text
    max-width: 233px
    padding: 22px 21px 68px 21px
    margin-top: -6rem
    text-align: center
  &__subtitle
    margin: 0
    padding: 0
    color: #959595
    font-size: 1.07rem
    line-height: 1.8rem
  &__pricetag
    width: 100%
    font-size: 1rem
    line-height: 1.4rem
    bottom: 0
  &__title
    font-size: 18px
    line-height: 25px